In [1]:
import graphlab
train_data = graphlab.SFrame("image_train_data/")
test_data = graphlab.SFrame("image_test_data/")
graphlab.canvas.set_target('ipynb')

This non-commercial license of GraphLab Create is assigned to angadlamba21@gmail.com and will expire on May 22, 2017. For commercial licensing options, visit https://dato.com/buy/.

2016-05-29 21:20:32,934 [INFO] graphlab.cython.cy_server, 176: GraphLab Create v1.9 started. Logging: /tmp/graphlab_server_1464537028.log

In [17]:
train_data["label"].sketch_summary()

+------------------+-------+----------+
|       item       | value | is exact |
+------------------+-------+----------+
|      Length      |  2005 |   Yes    |
| # Missing Values |   0   |   Yes    |
| # unique values  |   4   |    No    |
+------------------+-------+----------+

Most frequent items:
+-------+------------+-----+-----+------+
| value | automobile | cat | dog | bird |
+-------+------------+-----+-----+------+
| count |    509     | 509 | 509 | 478  |
+-------+------------+-----+-----+------+

In [21]:
dog = train_data[train_data["label"] == "dog"]
cat = train_data[train_data["label"] == "cat"]
automobile = train_data[train_data["label"] == "automobile"]
bird = train_data[train_data["label"] == "bird"]

In [22]:
dog_model = graphlab.nearest_neighbors.create(dog,
                                             features=["deep_features"],
                                             label="id")
cat_model = graphlab.nearest_neighbors.create(cat,
                                             features=["deep_features"],
                                             label="id")
automobile_model = graphlab.nearest_neighbors.create(automobile,
                                             features=["deep_features"],
                                             label="id")
bird_model = graphlab.nearest_neighbors.create(bird,
                                             features=["deep_features"],
                                             label="id")

Starting brute force nearest neighbors model training.

Starting brute force nearest neighbors model training.

Starting brute force nearest neighbors model training.

Starting brute force nearest neighbors model training.

In [28]:
cat_model.query(cat[0:1])

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.196464    | 57.049ms     |

| Done         |         | 100         | 130.584ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	int
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+---------------+------+
| query_label | reference_label |    distance   | rank |
+-------------+-----------------+---------------+------+
|      0      |        33       |      0.0      |  1   |
|      0      |      42056      | 34.2588207732 |  2   |
|      0      |      41285      | 34.9140465133 |  3   |
|      0      |      23963      | 35.0984380832 |  4   |
|      0      |      13371      | 35.1173649827 |  5   |
+-------------+-----------------+---------------+------+
[5 rows x 4 columns]

In [29]:
knn_model = graphlab.nearest_neighbors.create(train_data,
                                             features=["deep_features"],
                                             label="id")

Starting brute force nearest neighbors model training.

In [30]:
cat_model.query(dog)

Starting blockwise querying.

max rows per data block: 7668

number of reference data blocks: 4

number of query data blocks: 1

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 509          | 64643   | 24.9509     | 303.356ms    |

| Done         | 259081  | 100         | 376.065ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	int
	distance	float
	rank	int

Rows: 2545

Data:
+-------------+-----------------+---------------+------+
| query_label | reference_label |    distance   | rank |
+-------------+-----------------+---------------+------+
|      0      |      41989      | 40.4601125879 |  1   |
|      0      |      40249      | 40.9408480727 |  2   |
|      0      |      42744      | 42.7976420165 |  3   |
|      0      |      15595      | 42.9741973958 |  4   |
|      0      |       2738      | 43.1379431672 |  5   |
|      1      |       3043      | 32.2985567214 |  1   |
|      1      |      28808      |  32.941421424 |  2   |
|      1      |      49463      | 34.1550648717 |  3   |
|      1      |      31676      | 34.5151932382 |  4   |
|      1      |      20390      | 34.5981457155 |  5   |
+-------------+-----------------+---------------+------+
[2545 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [43]:
dog.filter_by(dog_model.query(cat[0:1])["reference_label"], "id")

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.196464    | 21.992ms     |

| Done         |         | 100         | 120.664ms    |

+--------------+---------+-------------+--------------+

Columns:
	id	int
	image	Image
	label	str
	deep_features	array
	image_array	array

Rows: 5

Data:
+-------+----------------------+-------+-------------------------------+
|   id  |        image         | label |         deep_features         |
+-------+----------------------+-------+-------------------------------+
|  5755 | Height: 32 Width: 32 |  dog  | [0.900480687618, 0.0, 0.0,... |
| 13387 | Height: 32 Width: 32 |  dog  | [0.366494178772, 0.0, 0.0,... |
| 16976 | Height: 32 Width: 32 |  dog  | [0.755595386028, 0.0, 0.0,... |
| 32001 | Height: 32 Width: 32 |  dog  | [1.39458882809, 0.0, 0.028... |
| 37685 | Height: 32 Width: 32 |  dog  | [0.320350885391, 0.0, 0.0,... |
+-------+----------------------+-------+-------------------------------+
+-------------------------------+
|          image_array          |
+-------------------------------+
| [32.0, 30.0, 31.0, 32.0, 3... |
| [255.0, 255.0, 255.0, 255.... |
| [16.0, 17.0, 11.0, 18.0, 1... |
| [127.0, 123.0, 119.0, 119.... |
| [146.0, 140.0, 154.0, 155.... |
+-------------------------------+
[5 rows x 5 columns]

In [52]:
cat_model.query(train_data[0:1])["distance"].mean()

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.196464    | 24.588ms     |

| Done         |         | 100         | 118.616ms    |

+--------------+---------+-------------+--------------+

43.87124534822105

In [53]:
dog_model.query(train_data[0:1])["distance"].mean()

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.196464    | 19.508ms     |

| Done         |         | 100         | 111.38ms     |

+--------------+---------+-------------+--------------+

44.02272195213375

In [54]:
image_test_dog = test_data[test_data["label"] == "dog"]
image_test_cat = test_data[test_data["label"] == "cat"]
image_test_automobile = test_data[test_data["label"] == "automobile"]
image_test_bird = test_data[test_data["label"] == "bird"]

In [65]:
dog_cat_neighbor = cat_model.query(image_test_dog, k=1)
dog_dog_neighbor = dog_model.query(image_test_dog, k=1)
dog_automobile_neighbor = automobile_model.query(image_test_dog, k=1)
dog_bird_neighbor = bird_model.query(image_test_dog, k=1)

Starting blockwise querying.

max rows per data block: 7668

number of reference data blocks: 4

number of query data blocks: 1

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 1000         | 127000  | 24.9509     | 488.971ms    |

| Done         | 509000  | 100         | 593.453ms    |

+--------------+---------+-------------+--------------+

Starting blockwise querying.

max rows per data block: 7668

number of reference data blocks: 4

number of query data blocks: 1

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 1000         | 127000  | 24.9509     | 502.255ms    |

| Done         | 509000  | 100         | 545.295ms    |

+--------------+---------+-------------+--------------+

Starting blockwise querying.

max rows per data block: 7668

number of reference data blocks: 4

number of query data blocks: 1

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 1000         | 127000  | 24.9509     | 754.499ms    |

| Done         | 509000  | 100         | 799.063ms    |

+--------------+---------+-------------+--------------+

Starting blockwise querying.

max rows per data block: 7668

number of reference data blocks: 4

number of query data blocks: 1

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 1000         | 120000  | 25.1046     | 480.467ms    |

| Done         | 478000  | 100         | 543.58ms     |

+--------------+---------+-------------+--------------+

In [69]:
dog_distance
dog_cat_neighbor.head()

Columns:
	query_label	int
	reference_label	int
	distance	float
	rank	int

Rows: 10

Data:
+-------------+-----------------+---------------+------+
| query_label | reference_label |    distance   | rank |
+-------------+-----------------+---------------+------+
|      0      |        33       | 36.4196077068 |  1   |
|      1      |      30606      | 38.8353268874 |  1   |
|      2      |       5545      | 36.9763410854 |  1   |
|      3      |      19631      | 34.5750072914 |  1   |
|      4      |       7493      |  34.778824791 |  1   |
|      5      |      47044      | 35.1171578292 |  1   |
|      6      |      13918      | 40.6095830913 |  1   |
|      7      |      10981      | 39.9036867306 |  1   |
|      8      |      45456      | 38.0674700168 |  1   |
|      9      |      44673      | 42.7258732951 |  1   |
+-------------+-----------------+---------------+------+
[10 rows x 4 columns]

In [70]:
dog_automobile_neighbor.head()

Columns:
	query_label	int
	reference_label	int
	distance	float
	rank	int

Rows: 10

Data:
+-------------+-----------------+---------------+------+
| query_label | reference_label |    distance   | rank |
+-------------+-----------------+---------------+------+
|      0      |      33859      | 41.9579761457 |  1   |
|      1      |       2046      | 46.0021331807 |  1   |
|      2      |      19594      | 42.9462290692 |  1   |
|      3      |      11000      | 41.6866060048 |  1   |
|      4      |      19594      | 39.2269664935 |  1   |
|      5      |      49314      | 40.5845117698 |  1   |
|      6      |      40822      | 45.1067352961 |  1   |
|      7      |      44997      | 41.3221140974 |  1   |
|      8      |      33859      | 41.8244654995 |  1   |
|      9      |      33859      | 45.4976929401 |  1   |
+-------------+-----------------+---------------+------+
[10 rows x 4 columns]

In [71]:
dog_dog_neighbor.head()

Columns:
	query_label	int
	reference_label	int
	distance	float
	rank	int

Rows: 10

Data:
+-------------+-----------------+---------------+------+
| query_label | reference_label |    distance   | rank |
+-------------+-----------------+---------------+------+
|      0      |      49803      | 33.4773590373 |  1   |
|      1      |       5755      | 32.8458495684 |  1   |
|      2      |      20715      | 35.0397073189 |  1   |
|      3      |      13387      | 33.9010327697 |  1   |
|      4      |      12089      | 37.4849250909 |  1   |
|      5      |       6094      |  34.945165344 |  1   |
|      6      |       3431      | 39.0957278345 |  1   |
|      7      |       6184      | 37.7696131032 |  1   |
|      8      |       2167      | 35.1089144603 |  1   |
|      9      |       7776      | 43.2422832585 |  1   |
+-------------+-----------------+---------------+------+
[10 rows x 4 columns]

In [72]:
dog_bird_neighbor.head()

Columns:
	query_label	int
	reference_label	int
	distance	float
	rank	int

Rows: 10

Data:
+-------------+-----------------+---------------+------+
| query_label | reference_label |    distance   | rank |
+-------------+-----------------+---------------+------+
|      0      |      44658      | 41.7538647304 |  1   |
|      1      |       9215      | 41.3382958925 |  1   |
|      2      |      36675      | 38.6157590853 |  1   |
|      3      |      12582      | 37.0892269954 |  1   |
|      4      |      36122      |  38.272288694 |  1   |
|      5      |       8736      | 39.1462089236 |  1   |
|      6      |      38991      |  40.523040106 |  1   |
|      7      |      44177      | 38.1947918393 |  1   |
|      8      |       4549      | 40.1567131661 |  1   |
|      9      |      40225      | 45.5597962603 |  1   |
+-------------+-----------------+---------------+------+
[10 rows x 4 columns]